* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
}
html {
	font-size: 62.5%; 
	/* 
	Denna red gör så att 1rem = 10px.
	Längre förklaring: tar 62.5% av webläsarens standard 'font-size' standard burkar vara 16px, men folk med sämre syn kan öka det.
	Det leder till att vi fortfarande tar 62.5% av det användaren har satt som starndard i webläsaren
	*/
}
body {
	background-color: #e6e4e9;
}

h1, h2, h3, h4 {
	font-family: 'Spectral SC', serif;
	text-align: center;
}

.container {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/* Font-size's. Change them here */
h1 {
	font-size: 5rem;
}
h2 {
	font-size: 3rem;
}
h3 {
	font-size: 2.6rem;
}
h4 {
	font-size: 2.2rem;
}
p {
	font-size: 1.8rem;
}
label {
	font-size: 1.9rem;
}

/*
################
 NAVIGATION BAR 
################
	
*/
/* #region Navigationbar */
/* #region Menu-button */
.menu-btn-container {
	display: inline-block;
	cursor: pointer;
	padding-right: 2em;
	padding-top: 1em;
	display: none;
}

.bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: #f2f2f2;
	margin: 6px 0;
	transition: 0.4s;
}
/* Roterar bar 1 så den blir diagonal*/
.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
	opacity: 0;
}
/* Samma som bar1 fast för bar3 i motsatt riktining */
.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}
/* #endregion Menu */
.logo {
	padding: 1em 0;
	padding-left: 1em;
}

.topnav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: #afc1b0;
	position: sticky;
}

.topnav .nav-link {
	display: flex;
	justify-content: center;
}

.topnav .nav-link a {
  color: #f2f2f2;
  padding: 1em 1em;
  text-decoration: none;
  font-size: 1.8rem;
  font-family: 'Spectral SC', serif;
	font-weight: bold;
	height: 100%;
	transition: 0.4s;
}

.topnav .nav-link a:hover {
  background-color: #ddd;
  color: black;
}

/* #endregion Navigationbar */

/*
################
     HOME 
################
*/
/* #region Home */
.bild-slogan{
	display: flex;
	justify-content: space-around;
	padding: 0 6em;
}

.logo-slogan {
	margin-top: 20em;
}

.logo-slogan h1 {
	text-shadow: 0.2rem 0.3rem 0.4rem rgba(0, 0, 0, 0.4);
	font-family: 'Cabin Sketch', cursive;
}

.logo-slogan h4 {
	font-family: 'Homemade Apple', cursive;
	text-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.4);
	color: #afc1b0;
}

.framsida-bild{
	width: 100%;
	height: auto;
}

/* #endregion Home */

/* ###############
	    ABOUT 
   ############### */
/* #region About */
.about-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.about-container>div {
	width: 40%;
	text-align: justify;
}

.about-container>div h3 {
	padding-top: 1em;
} 

/* #endregion About */

/*
################
     THEMES 
################
*/

.themes-container {
	display: flex;
	justify-content: center;
  flex-wrap: wrap;
	background-color: #e6e4e9;
}

.themes-container>div {
	background-color: #f9ffff;
	width: 300px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
	margin: 10px;
}

.themes-container p {
	text-align: justify;
	margin: 10px;
}

.themes-container h3,
h1 {
	text-align: center;
}


/*
################
     PRICING 
################
*/
/* #region Pricing */
.pricing-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.pricing-container div {
	background-color: #afc1b0;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
	flex-basis: 20%; /* Säger att värdet får minst vara 28%, om den blir mindre så börjar det wrap */
	margin: 2em 3em;
	padding: 3em;
	flex-grow: 1;
}
.pricing-container div:nth-child(3) {
	flex-grow: 2;
}
.pricing-container p {
	padding: 0.5em 0;
}

/* #endregion Pricing */


/*
################
     CONTACT 
################
*/

input,
textarea {
	width: 35em;
	padding: 0.5em;
	border: 1px solid black;
	margin-bottom: 0.5em;
	border-radius: 0.4em;
}

input[type=submit] {
	background-color: rgb(0, 74, 0);
	padding: 0.5em 1em;
	width: 100%;
	color: white;
	cursor: pointer;
	border: none;
	border-radius: 0.4em;
	font: 2rem bold;
}

input[type=submit]:hover {
	background: #afc1b0;
}

.contact-container {
	display: flex;
	justify-content: center;
}

.contact-information {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.contact-information p{
	margin: 1em;
	font-family: 'Spectral SC';
}
/*
#####################
 SOCIAL MEDIA BUTTON 
#####################
*/

.social-media {
	display: flex;
	justify-content: center;
}

i {
	margin: 0 1rem;
	padding: 1rem;
	text-align: center;
	color: rgb(0, 74, 0);
}

.fa:hover {
	opacity: 0.7;
}
.open {
	display: unset;
}

/*
#####################
    Media quries 
#####################
*/
@media (max-width: 1100px) {
	.bild-slogan {
		display: flex;
		flex-direction: column;
	}
	.logo-slogan {
        margin-top: 1em;
    }
    .about-container>div {
	width: 70%;
}
}

@media (max-width: 700px) {
	.container{
		padding-bottom: 2em;
	}
	.logo-slogan {
        margin-top: 1em;
    }
		.menu-btn-container {
			display: unset;
		}

		.nav-link {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
		}

		a {
			display: none;
			width: 100%;
			text-align: center;
			border-bottom: 1px solid #f2f2f288;
		}
		a:last-child {
			border-bottom: none;
		}

		.social-media a {
			display: unset;
			border-bottom: none;
		}

    .bild-slogan {
        display: flex;
        flex-direction: column;
		}


		.pricing-container div {
			flex-basis: 50%;
		}

    input,
    textarea {
	    width: 100%;	
    }
    .contact-information{
    	font-size: 1rem;
    }
    .about-container {
	    padding: 0 2.5em;

		}
		.about-container>div {
			width: 80%;
		}

		.contact-information {
			flex-direction: column;
			text-align: center;
		}
		.contact-information p{
			margin: 0.2em;
		}
}